<model>
<link type="text/css" rel="stylesheet" id="dark-mode-custom-link"/>
<link type="text/css" rel="stylesheet" id="dark-mode-general-link"/>
<style lang="en" type="text/css" id="dark-mode-custom-style"/>
<style lang="en" type="text/css" id="dark-mode-native-style"/>
<style lang="en" type="text/css" id="dark-mode-native-sheet"/>
<name>Mecanum</name>
<version>1.0</version>
<sdf version="1.7">model.sdf</sdf>
<author>
<name>Rafi Abdullah</name>
<email>rafi@openrobotics.org</email>
</author>
<author>
<name>Louise Poubel</name>
<email>louise@openrobotics.org</email>
</author>
<description>
Scissor lift using mecanum wheels. The scissor part does not move.
</description>
</model>